<div class="details">
    <div class="game-banner">
        <img class="game-banner-img" src="{{ game.background_image }}" alt="">
    </div>
    <div class="game-content">
        <div class="details-wrapper">
            <div class="game-header">
                <h1 class="game-header-title">{{game.name}}</h1>
                <h2 class="game-header-release-date">
                    Released: {{game.released | date}}
                </h2>
                <p class="game-header-genres">
                    <span *ngFor="let genre of game.genres">
                        {{genre.name}}
                    </span>
                </p>
                <span>RPG</span>
                <div class="game-gauge">
                    <mwl-gauge
                        class="two"
                        [max]="100"
                        [dialStartAngle]="180"
                        [dialEndAngle]="0"
                        [value]="gameRating"
                        [animated]="true"
                        [color]="getColor"
                        [animationDuration]="2"
                    ></mwl-gauge>
                    <a 
                        class="game-gauge-label"
                        href="{{game.metacritic_url}}"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Metacritic</a>
                </div>
            </div>
        </div>
    </div>
</div>