<div class="game-tabs">
    <mat-tab-group>
        <mat-tab label="About">
            <p class="game-tabs-par">
                Platforms:
                <span>PC</span>
            </p>
            <p class="game-tabs-par">
                Publishers:
                <span>Konami</span>
            </p>
            <p class="game-tabs-par">
                Website:
                <a href="#" target="_blank" class="game-tabs-link">http://</a>
            </p>
            <div class="game-description">Some description</div>
            <p class="game-tabs-votes">
                <span>
                    <mat-icon class="game-votes-up">thumb_up</mat-icon>
                    <span class="game-votes-count">55</span>
                </span>
                <span>
                    <mat-icon class="game-votes-up">thumb_down</mat-icon>
                    <span class="game-votes-count">14</span>
                </span>
            </p>
        </mat-tab>
        <mat-tab label="Screenshots">
            <img
                src="https://img.mensxp.com/media/content/2020/Nov/News-Channel-Used-Screenshot-From-Red-Dead-Redemption-2-1200x900_5fc0a8b4f2f9f.jpeg"
                alt="screenshoot"
                class="game-screenshot">
        </mat-tab>
        <mat-tab label="Trailers">
            <video class="game-trailer" controls>
                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                Your browser does not support video tag
            </video>
        </mat-tab>
    </mat-tab-group>
</div>