/* You can add global styles to this file, and also import other style files */
:root {
    --color-primary: #323a45;
    --color-secondary: #3f51b5;
    --color-text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
